[service]
name          = tty5
command       = /sbin/getty -L tty5 0 linux
type          = process
restart       = always
restart_delay = 2
depends       = rcs

[env]
TERM = linux
HOME = /root
PATH = /usr/bin:/bin:/usr/sbin:/sbin
