[service]
name    = mdev
type    = oneshot
command = /bin/sh -c 'echo /sbin/mdev > /proc/sys/kernel/hotplug 2>/dev/null; mdev -s; mdev -d 2>/dev/null || true'
depends = rcs
