[service]
name          = x11
type          = process
command       = /usr/bin/startx
restart       = on-failure
restart_delay = 5
depends       = rcs, mdev, input-probe

[env]
PATH                  = /usr/bin:/bin:/usr/sbin:/sbin
HOME                  = /home/void
USER                  = void
LOGNAME               = void
TERM                  = xterm-256color
LIBINPUT_QUIRKS_DIR   = /usr/share/libinput
